<div class="container mt-3">
  <h2 class="text-center mb-3 orange">My Reservations</h2>
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="d-flex justify-content-center col-12 my-2">
        <div class="card-product rounded-4 justify-content-between" style="width: 800px;">
          <div class="d-flex">
            <div class="camera-card-img-div">
              <%= image_tag "https://source.unsplash.com/featured?camera&#{rand(1000)}" %>
            </div>
            <div class="card-product-infos">
              <h2 class="text-warning"><%= booking.camera.brand  %> </h2>
              <%= booking.camera.model  %>
              <p>Rented from <%= booking.camera.user.first_name %></p>
              <p><i class="fa-solid fa-calendar-days text-warning"></i> <%= booking.from  %> - <%= booking.until %></p>
              <% total_days = (booking.until - booking.from).to_i %>
              <p> <i class="fa-solid fa-yen-sign text-warning"></i> <%= booking.camera.price * total_days %> for <%= total_days %> days</p>
            </div>
          </div>
          <div class="card-status me-5">
            <p>STATUS</p>
            <%= render "bookings/status", booking: booking %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
