<div class="container margintop">
  <h2 class="text-center mb-3 orange">My Reservations</h2>
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="d-flex justify-content-center col-12 my-2">
        <div class="card-product rounded-4" style="width: 800px;">
          <div class="camera-card-img-div">
            <%= cl_image_tag booking.camera.photos.first.key ,class: "reserve-card"%>
          </div>
          <div class="card-product-infos">
            <strong>
              <h2 class="text-warning"><%= booking.camera.brand  %> </h2>
              <strong>
                <p><%= booking.camera.model  %></p>
                <p>Rented from <%= booking.camera.user.first_name %></p>
                <p>Reserved from <%= booking.from  %> until <%= booking.until %></p>
                <% total_days = (booking.until - booking.from).to_i %>
                <p>Total price: ¥<%= booking.camera.price * total_days %> for <%= total_days %> days</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
