<div class="container mt-3">
      <h1>My Bookings</h1>
    <%# if policy(Camera).new? %>
      <%#= link_to new_camera_path, class: 'text-light text-decoration-none' do %>
        <%# <i class="fa-solid fa-plus"></i> %>
      <%# end %>
    <%# end %>
  <div class="cards">
    <% @bookings.each do |booking| %>
    <div>
      <%= booking.from  %>
      <%= booking.until  %>
      <%= booking.status  %>
      <%= booking.camera.model  %>
      <%= booking.user.first_name  %>
    </div>

      <%#= render 'cameras/card', camera: camera %>
    <% end %>
  </div>
</div>
