  <% if booking.pending? %>
<div class="d-flex flex-column">
    <div class="bd-highlight"><%= simple_form_for booking do |f| %>
        <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
        <%= f.submit 'Accept', class: 'btn btn-success rounded-4 text-white' %>
      <% end %>
    </div>
    <div class="bd-highlight"><%= simple_form_for booking do |f| %>
        <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
        <%= f.submit 'Reject', class: 'btn btn-danger rounded-4 text-white' %>
      <% end %>
    </div>
  </div>
  <% else %>
  <div class="d-flex">
    <% if booking.status === 'rejected' %>
      <div class='booking-tag text-danger'>
      <%= booking.status %>
    </div>
    <% elsif booking.status === 'pending'  %>
      <div class='booking-tag text-warning'>
        <%= booking.status %>
      </div>
    <% else %>
      <div class='booking-tag text-success'>
        <%= booking.status %>
      </div>
    <% end %>

  </div>
  <% end %>
