<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://source.unsplash.com/featured/?camera)">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{equipment.user.first_name}", class: 'avatar position-absolute top-0 end-0 m-2 border border-white' %>
  <%= equipment.brand %>
  <%= equipment.model %>
  <%= equipment.description %>
  <%= equipment.price %>
  <%= link_to "", equipment_path(equipment), class: "card-link"  %>
</div>
