<h1><strong><%= @camera.brand %></strong></h1>
<h3><strong><%= @camera.model %></strong></h3>
<p>
  <strong>
    <h5>About the camera</h5>
  </strong>
</p>
<%= @camera.description %>
<div class="d-flex flex-row-reverse bd-highlight">
  <div class="p-2 bd-highlight text-warning">
    <%= "/day" %>
  </div>
  <div class="p-2 bd-highlight text-warning">
    <h2><strong><%= @camera.price %></strong></h2>
  </div>
  <div class="p-2 bd-highlight text-warning">
    <h2><strong><%= "¥" %></strong></h2>
  </div>
</div>
