<div class="container-fluid p-0">
  <div class="banner">

  </div>

  <div class="container mt-3">
    <h2 class="text-center mb-3 orange">List Of Available Cameras</h2>
  <div class="row">
    <% @cameras.each do |camera| %>
      <div class="col-4 mb-3">
        <div class="cameras-card">
          <div class="camera-card-img-div">
            <%= image_tag "https://source.unsplash.com/featured?camera&#{rand(1000)}" %>
          </div>
          <div class="camera-card-content p-3">
            <h3 class="text-center orange"> <%= camera.brand %></h3>
            <p class="text-center fw-light fs-5"> <%= camera.model %></p>
            <p class="price-content text-center">	&#165; <span class="price"><%= camera.price %></span>/day</p>
          </div>
          <%= link_to '',camera_path(camera['id']), class: 'card-camera-link' %>
        </div>

      </div>
    <% end %>
  </div>

</div>
